<span id="ShipMethod" style="display:none;">{{checkout.attributes['ShipMethod']}}</span>
<script type="text/javascript">
  const shipAttr = document.querySelector('#ShipMethod').textContent;
  if (Shopify.Checkout.step == 'shipping_method') {
    const shippingStep = document.querySelector('.step fieldset.content-box');
    const shippingMethods = shippingStep.querySelectorAll('.content-box__row');

    for (var i = 0; i < shippingMethods.length; i++) {
      var shipMeth = shippingMethods[i].querySelector('label span.radio__label__primary');
      var radio = shippingMethods[i].querySelector('.radio__input .input-radio');
      if ( shipAttr == 'Store Pickup Option' ) {
        if (shipMeth.dataset.shippingMethodLabelTitle == 'Standard Shipping') {
          shippingMethods[i].remove();
          // shippingMethods[i].style.display = 'none';
          // radio.removeAttribute('checked');
          // console.log('radio: ', radio);
          // radio = shippingMethods[i+1].querySelector('.radio__input .input-radio');
          // radio.setAttribute('checked', 'checked');
        }
      } else {
        if (shipMeth.dataset.shippingMethodLabelTitle == 'Ship to Store') {
          shippingMethods[i].remove();
        }
      }
    }
  }
</script>
